@font-face {
  font-family: "Glacial Indifference Regular";
  src: url("../fonts/glacial-indifference-regular/GlacialIndifference-Regular.eot");
  src: url("../fonts/glacial-indifference-regular/GlacialIndifference-Regular.eot")
      format("embedded-opentype"),
    url("../fonts/glacial-indifference-regular/GlacialIndifference-Regular.woff")
      format("woff"),
    url("../fonts/glacial-indifference-regular/GlacialIndifference-Regular.ttf")
      format("truetype"),
    url("../fonts/glacial-indifference-regular/GlacialIndifference-Regular.svg")
      format("svg");
}

@font-face {
  font-family: "Crimsom";
  src: url("../fonts/Crimson-Foam-Font/Crimson-Foam-Font.eot");
  src: url("../fonts/Crimson-Foam-Font/Crimson-Foam-Font.eot")
      format("embedded-opentype"),
    url("../fonts/Crimson-Foam-Font/Crimson-Foam-Font.woff") format("woff"),
    url("../fonts/Crimson-Foam-Font/Crimson-Foam-Font.ttf") format("truetype"),
    url("../fonts/Crimson-Foam-Font/Crimson-Foam-Font.svg") format("svg");
}

//Constants
$primary-color: #529da4;
$secondary-color: #96db7a;
$white: #ffffff;
$text-color: #1c1a1a;
$primary-font: "Crimsom";
$secondary-font: "Glacial Indifference Regular";

/*Media queries  Stolen: https://css-tricks.com/approaches-media-queries-sass/*/
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1400px;
