@import "constants";

/*Box sizing Paul Irish*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*General*/
body {
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.1em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

@media (min-width: $breakpoint-tablet) {
  h1 {
    font-size: 5.5em;
  }

  h2 {
    font-size: 4.5em;
  }

  h3 {
    font-size: 2.5em;
  }
}

@media (min-width: $breakpoint-laptop) {
  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 5.5em;
  }

  h3 {
    font-size: 3em;
  }
}

h1,
h2 {
  font-weight: lighter;
  font-family: $moontime;
}

h3,
p {
  font-weight: lighter;
  font-family: $glacial;
}

/*Header*/

header {
  background-image: url("../img/marina&carlos1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  filter: grayscale(100%);
  color: $white;

  h1,
  h3 {
    padding: 10px;
    margin: 0;
  }

  h3 {
    padding-top: 15px;
  }
}

@media (min-width: $breakpoint-tablet) {
  header {
    min-height: 100vh;

    h3 {
      font-size: 2.2em;
      padding-top: 30px;
    }
  }
}

/*Countdown*/

.countdown-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;

  h2 {
    font-size: 3em;
    margin: 20px;
  }
}

.countdown-field {
  color: $primary-color;
  flex-basis: 50%;
  padding: 20px;
  p {
    margin: 0;
  }

  .countdown-time {
    font-size: 1.8em;
    font-weight: bold;
  }
  .countdown-units {
    font-size: 1.2em;
  }
}

@media (min-width: $breakpoint-tablet) {
  .countdown-section {
    flex-wrap: nowrap;
    padding: 10px 30px;
  }

  .countdown-field {
    .countdown-time {
      font-size: 2.5em;
    }
    .countdown-units {
      font-size: 1.5em;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .countdown-section {
    padding: 10px 70px;
  }

  .countdown-field {
    padding: 20px;
    .countdown-time {
      font-size: 3em;
    }
    .countdown-units {
      font-size: 2em;
    }
  }
}

//We marry

.marry-section {
  display: flex;
  flex-direction: column-reverse;
  background-color: $primary-color;

  .marry-img {
    filter: grayscale(100%);
  }

  .marry-text {
    padding: 20px;
    margin-bottom: 20px;
    color: white;

    h2 {
      padding: 20px 0;
      margin: 0;
    }
    p {
      margin: 0;
      padding-bottom: 20px;
      position: relative;
    }

    p::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 25%;
      display: block;
      width: 50%;
      height: 1px;
      background-color: white;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .marry-section {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .marry-img {
      flex-basis: 50%;
      max-width: 50%;
    }

    .marry-text {
      flex-basis: 50%;
      height: 100%;
      padding-left: 50px;

      padding-right: 50px;
      h2 {
        padding-top: 0;
      }
      p {
        text-align: left;
        padding-top: 10px;
        font-size: 1.2em;
      }
      p::after {
        left: 0;
        bottom: -10px;
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .marry-section {
    .marry-text {
      padding-left: 80px;
      padding-right: 80px;
      h2 {
        padding-top: 0;
      }
      p {
        text-align: left;
        padding-top: 10px;
        font-size: 1.5em;
      }
      p::after {
        left: 0;
        bottom: -10px;
      }
    }
  }
}
